*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'roboto',sans-serif;
}

.nav-bar{
    position:sticky;
    top:0;
    left:0;
    width: 100%;
    background:white;
    z-index: 8;
}

.nav{
    padding: 5px 8vw;
    display: flex;
    justify-content: space-between;

}

.header-form{
    display:flex;
    flex-direction: row;
    width:500px;
}
.brand-logo{

    height: 200px;
    width:400px;
}

.nav-items{
    display:flex;
    align-items: center;
}

.search{
    width: 500px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

#search-box{
    width:80%;
    height:40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    
    background: none;
    color: #a9a9aa;
    outline: none;
}

.search-btn{
    width:20%;
    height:40px;
    padding:10px;
    border: none;
    outline: none;
    cursor:pointer;
    background: #383838;
    color: #fff;
    
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color:#a9a9a9;

}

.nav-items a{
    margin-left: 20px;
}

.nav-items a img{
    width:30px;
}

.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: solid #d1d1d1;
}

a:hover{
    cursor: pointer;
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color:#383838;
    opacity: 0.5;
    transition: .5s;
    font-size:25px;
}

.link:hover{
    opacity: 1;
}

ul a{
    display:flex;
    flex-direction: column;
}

.badge:after{
    content:attr(value);
    font-size:15px;
    font-family: 'roboto', sans-serif;
    color: #fff;
    background: red;
    border-radius:50%;
    padding: 0 5px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
}

.badge:after::content:empty{
    display:none;
}